retrieval/dump_*
retrieval/log*
retrieval/slurm_output/*
*.txt
*.out
Scan2CAD*
*.ini
sftp-config.json
._*
manifold_*/
__pycache__/*
*.obj
*.ply
libgl_scratch.py
script*
*.pyc
*.h5
*.pickle
normalized_scans/*
*png
*build*
*.o
*.pyc
*.DS_Store
